ion-item{
    --background: #15D0B3;
    --color: #fff;
}
:host {
    .item-interactive.ion-invalid{
     --highlight-background: white !important;
   }
   .item-interactive.ion-valid{
     --highlight-background: white !important;
   }
}
ion-button{
    font-weight: bold;
}
.fondo {
    background-color: #15D0B3;
}
h2{
    color: white;
    font-weight: bold;
}