<ion-content>

  <ion-content color="primary" padding>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h1>FINIXER.</h1>
              <h3>Accede</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input formControlName="correo" type="email" placeholder="Correo" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="contrasena" type="password" placeholder="Contraseña" ngModel required></ion-input>
              </ion-item>
            </div>
            <div class="divButton">
              <ion-button shape="round" size="large" type="submit" [disabled]="loginForm.invalid">Entrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="registroText">
            Si no tienes una cuenta, <br>
            <a routerLink='/registrar'> registrate aquí </a>
          </div>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>