<ion-header>
  
    <link rel = "stylesheet"
      href = "https://fonts.googleapis.com/css?family= Candal & display = swap" >

  <style>
    h3 {color: #ffffff; }
    </style>

</ion-header>

<ion-content>
    <ion-content color="primary" padding>
        <form #form="ngForm" (ngSubmit)="login(form)">
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                
                <div text-center  style="color: #ffffff">
                  <h1 style="font-size: 70px"><b>FINIXER.</b></h1>
                  <h3>Accede</h3>
                </div>
                <div padding>
                  <ion-item>
                    <ion-input style="color:#ffffff" name="email" type="email" placeholder="Correo" ngModel required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input style="color:#ffffff" name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
                  </ion-item>
                </div>
                <div padding class="buttonl">
                  <ion-button style="color:#27d1c9"shape="round" size="large" type="submit" [disabled]="form.invalid"><b>ENTRAR</b></ion-button>
                  <div text-center style="color: #fff;">
                      <p> Si no tienes cuenta, </p><a text-center routerLink='/register'>
                        registrate aqui!</a>
                        </div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>


                



            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
</ion-content>
