ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-input{
    font-family: 'Nunito';
    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

ion-button{
    --background: white;
    --opacity: 100;	
    font-family: 'Nunito';
    font-weight: 900;
    color: #15D0B3;
}

.divButton {
    padding-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Nunito';
    font-weight: 1000;
    color: white;
    font-size: 50pt;
    padding-top: 20px;
    padding-bottom: 50px;
}

h3{
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 16pt;
}

a{
    color: #fff;
    text-align: center;
    align-content: center;
}

.registroText {
    color: white;
    width:50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}