<ion-header >
  <ion-toolbar  color="primary">
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <ion-list >
    <ion-item-sliding *ngFor="let movimiento of movimientos">
      <ion-item >
        <ion-card>
          <ion-grid class="cardItems">
            <ion-row>
              <ion-col>
                <div class="descripcion">{{movimiento.Descripcion}}</div>
              </ion-col>
              <ion-col>
                <div class="cuenta">{{movimiento.Cuenta}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="etiqueta">{{movimiento.Etiqueta}}</div>
              </ion-col>
              <ion-col>
                <div class="cantidad">${{movimiento.Cantidad}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="abrirModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink='/cuenta'>
      <ion-icon name="card"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movimientos">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink='/resumen'>
      <ion-icon name="send"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>