ion-list{
    padding-top: 0;
    padding-bottom: 0;
}

ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-card{
    width: 100% !important;
  }


.cardItems{
    color: #fff;
    --background:  #fff;
}
ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 900;
    color: #15D0B3;
}
ion-fab-button{
    --color: white;
}

.descripcion{
    font-size: 16pt;
}

.cuenta{
    font-size: 12pt;
}

.etiqueta{
    font-size: 14pt;
}

.cantidad{
    font-size: 18pt;
}

