<ion-toolbar color="primary">
  <ion-title>Agregar Movimiento</ion-title>
</ion-toolbar>

<ion-content color="primary">

  <ion-item>
    <ion-label stacked>Descripción</ion-label>
    <ion-input type="text" text-right id="input" [(ngModel)]="Descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Cantidad</ion-label>
    <ion-input type="text" text-right id="input" [(ngModel)]="Cantidad"></ion-input>
  </ion-item>

  <ion-item class="tipo">
    <ion-label stacked>Tipo</ion-label>
    <ion-select [(ngModel)]="Tipo">
      <ion-select-option value="Ingreso"> Ingreso</ion-select-option>
      <ion-select-option value="Egreso"> Egreso</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Cuenta</ion-label>
    <ion-select [(ngModel)]="Cuenta">
      <ion-select-option value="Crédito Banorte"> Crédito Banorte</ion-select-option>
      <ion-select-option value="Débito Banregio"> Débito Banregio</ion-select-option>
      <ion-select-option value="Crédito BBVA"> Crédito BBVA</ion-select-option>
      <ion-select-option value="Débito Banamex"> Débito Banamex</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked>Etiqueta </ion-label>
    <ion-select [(ngModel)]="Etiqueta">
      <ion-select-option value="Deuda"> Deuda</ion-select-option>
      <ion-select-option value="Hogar"> Hogar</ion-select-option>
      <ion-select-option value="Alimento"> Alimento</ion-select-option>
      <ion-select-option value="Entretenimiento"> Entretenimiento</ion-select-option>
      <ion-select-option value="Transporte"> Transporte</ion-select-option>
      <ion-select-option value="Educación"> Educación</ion-select-option>
      <ion-select-option value="Regalos"> Regalos</ion-select-option>
      <ion-select-option value="Viajes"> Viajes</ion-select-option>
      <ion-select-option value="Ingresos"> Ingresos</ion-select-option>
      <ion-select-option value="Ropa y Calzado"> Ropa y Calzado</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="botones">

    <ion-button (click)="salirModal()">Cancelar</ion-button>

    <ion-button (click)="subirMovimiento()">Agregar</ion-button>

  </div>



</ion-content>