ion-title{
    --color: white;
    font-size: 18pt;
}

ion-input{
    --placeholder-color: white; 
    --placeholder-opacity: 100;
}

ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 700;
    color: #15D0B3;
}

ion-content{
    --padding-bottom: 30pt;
    --padding-end: 30pt;
    --padding-start: 30pt;
    --padding-top: 30pt;
}

.tipo{
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.botones{
    padding-top: 20pt;
    padding-bottom: 20pt;
    text-align: center;
}