<ion-header >
  <ion-toolbar  color="primary">
    <ion-title>Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
    <ion-list>
        <ion-item-sliding *ngFor="let cuenta of cuentas">
          <ion-item>
            <ion-card >
                <ion-card-header>
                    <ion-card-title class="cardItems">
                      {{cuenta.Nombre}} 
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content class="cardItems">
                    Tu saldo es de: $ {{cuenta.Cantidad}}
                </ion-card-content>
                <ion-row class="cardfooter">
                    <ion-col>
                        <ion-button float-left>
                            <ion-icon name="md-create"></ion-icon>
                        </ion-button>
                        <ion-button float-right>
                            <ion-icon name="md-trash"></ion-icon>
                        </ion-button>
                    </ion-col>
                  </ion-row>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </ion-list>




  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button (click)="onAgregarCuenta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuenta">
      <ion-icon name="card"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink='/movimientos'>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink='/resumen'>
      <ion-icon name="send"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>