ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-input{
    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

.botonCerrar{
    --background: white;
    --opacity: 100;	
    font-weight: 700;
    color: #15D0B3;
}

ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 700;
    color: #15D0B3;
}

h3{
    color: white;
}

.divButton {
    padding-top: 40px;
    text-align: center;
}